
body {
background-color: #19ffff;
background-size: 
font-family: Arial, Helventica, sans-serif;
color: red;
font-weight: 
border: solid; 
border-color: red; 

#header-nav {
	background color: red;
	border border-radius: 0;
	border: 0;
	

}